<hmtl>
Poema sem Acento
<br><br>
O meu teclado quebrado
<br><br>
 Exercita meu poema:
<br><br>
Se ele fosse acentuado,
<br><br>
Eu me veria em problemas.
<br><br>
Se essa falta me limita,
<br><br>
Faz, contudo, analogia
<br><br>
Da complexidade inscrita
<br><br>
Na mais simples poesia:
<br><br>
Muitas vezes inexiste
<br><br>
A palavra apropriada
<br><br>
Pra tamanho sentimento,
<br><br>
E o poema fica triste
<br><br>
A rima, desamparada,
<br><br>
Cai, naufraga, sem acento.

</hmtl>
